# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
output/
*.log

# Node.js
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
**/.next/
out/
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env*.local

# Telegram session files
*.session
*.session-journal

# Vercel
.vercel

*.env